:root {
	/*https://element-plus.org/en-US/guide/theming.html#custom-theme*/
	/* TODO: создать тему как на сайте */
  --background-color: rgba(255, 255, 255, 1);
  --primary-color: rgba(242, 101, 0, 1);
  --secondary-color: rgba(0, 0, 0, 1);
  --table-filling-color: rgba(242, 101, 0, 0.36);
  --table-grid-color: rgba(242, 101, 0, 0.9);
  --table-headers-text-color: rgba(0, 0, 0, 1);
  --table-headers-background-color: rgba(255, 128, 35, 1);
  --finished-tag-background-color: rgba(82, 155, 46, 1);
  --finished-tag-border-color: rgba(23, 98, 31, 1);
  --canceled-tag-background-color: rgba(218, 61, 61, 1);
  --canceled-tag-border-color: rgba(156, 41, 41, 1);
  --scheduled-tag-background-color: rgba(240, 230, 140, 1);
  --scheduled-tag-border-color: rgba(149, 137, 22, 1);
  --live-tag-background-color: rgba(255, 126, 33, 1);
  --live-tag-border-color: rgba(180, 76, 0, 1);
  --select-and-inputs-background-color: rgba(250, 200, 163, 1);
  --canceled-match-background-color: rgba(207, 152, 112, 0.36);


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
}

#app {}

@media (prefers-color-scheme: dark) {
  /*:root {*/
  /*  color: #ffffff;*/
  /*  background-color: #213547;*/
  /*}*/
}
